<% layout('./layouts/boilerplate')%>
<div class="contain">
  <div class="card col-6 offset-3 shadow">
    <div class="card-body">
      <h5 class="card-title">Cory Leclair</h5>
      <p class="card-text">Open to new remote Opportunities</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Email:
        <a href="mailto:cory.leclair@gmail.com">cory.leclair@gmail.com</a>
      </li>
      <li class="list-group-item">Linux SysAdmin</li>
      <li class="list-group-item">Web Developer</li>
      <li class="list-group-item">Network Admin</li>
      <li class="list-group-item">All around cool guy</li>
    </ul>
    <div class="card-body">
      <div class="container">
        <div class="row">
          <p class="card-text text-center">
            Check out my github repo for this site. <br />If you wish to connect
            with me I'm available via the email up-top.
          </p>
          <div class="col offset-s-3 mb-3 d-flex justify-content-center">
            <a
              href="https://github.com/Blamzilla/yelpCamp/tree/master"
              target="_blank"
              ><img src="/images/GitHub-Mark-32px.png" alt=""
            /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
