<% layout('./layouts/boilerplate')%>
<div class="row text-wrap">
  <div class="col-6 offset-3 text-wrap">
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading"><%= err.message %></h4>
      <div class="text-break"></div>
    </div>
  </div>
</div>
