<% layout('./layouts/boilerplate')%>
<h1>All Campgrounds</h1>

<ul>
  <% for(let camps of campgrounds){%>
  <li>
    <a href="/campgrounds/<%=camps.id%>"><%=camps.title%></a> -
    <%=camps.location%>
  </li>

  <%}%>
</ul>
<a href="/campgrounds/new">Add new Campground</a>
