<% layout('./layouts/boilerplate')%>
<head>
  <style>
    .game {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  </style>
</head>
<div class="game">
  <iframe
    src="https://i.simmer.io/@Blamzilla/laser-defender"
    style="width: 324px; height: 576px"
  ></iframe>
</div>
