<footer class="footer bg-dark py-3 mt-auto">
  <div class="container">
    <span class="text-white d-flex justify-content-center"
      >&copy;YelpCamp 2021</span
    >
  </div>
</footer>
<script src="/js/formValidator.js"></script>
